@import url("chrome://messenger/content/unifiedtoolbar/unifiedToolbarWebextensions.css");

/* Position Menu Bar above Unified Toolbar */
#toolbar-menubar {
  order: -1 !important;
}

/* Move the Close, Minimize and Maximize buttons back to the top */
.titlebar-buttonbox-container {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 19px !important;
}


/* calendar-views.css | chrome://calendar/skin/shared/calendar-views.css */

:root {
  /* --button-border-radius: 3px; */
  --button-border-radius: 0px  !important;
  --arrowpanel-border-radius: 0px !important;
  --arrowpanel-menuitem-border-radius: 0px !important;
  --menu-item-margin: 0 2px !important;
  --menu-item-padding: 0px !important;
  --menuitem-vertical-padding: 0px !important;
  --tab-min-height: 26px !important;
  
  /*--button-margin: 3px;
  --button-padding: 3px;*/
  --button-margin: 1px !important;
  --button-padding: 2px !important;
  /* --tree-header-table-height: max(27px, round(up, 1.4em, 1px)); */
  --tree-header-table-height: 24px !important;
  
  --arrowpanel-dimmed-further: #90C8F6 !important;	/* kolor tla wybranego menuitem, tylko menu glowne */
  --arrowpanel-dimmed: #90C8F6 !important;	/* kolor tla wybranego menuitem */
}

:root {
  &[uidensity="compact"] {
    & menupopup {
      /*--arrowpanel-padding: 3px 0;*/
      --arrowpanel-padding: 2px 0 !important;
    }
  }
}

:root, :host {
  /*--border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;
  --listbox-border-radius: 3px;*/
  --border-radius-small: 0px !important;
  --border-radius-medium: 0px !important;
  --border-radius-large: 0px !important;
  --listbox-border-radius: 0px !important;
  /*--toolbar-bgcolor: var(--layout-background-1);*/
  --toolbar-bgcolor: var(--layout-background-2) !important;
  --toolbar-button-hover-background-color: #C0D3F3 !important;
  --toolbar-button-hover-border-color: #90C8F6 !important;
  /* --arrowpanel-background: var(--layout-background-1); */
  --arrowpanel-background: var(--layout-background-2) !important;	/* kolor tla kontekstowego menu */
  /* --toolbarbutton-hover-background: light-dark(var(--lwt-toolbarbutton-hover-background, rgba(0, 0, 0, .05)), var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .25))); */
  /* --toolbarbutton-hover-bordercolor: light-dark(var(--lwt-toolbarbutton-hover-background, rgba(0, 0, 0, .25)), var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .5))); */
  --toolbarbutton-hover-background: #C0D3F3 !important;
  --toolbarbutton-hover-bordercolor: #90C8F6 !important;
}


menupopup, panel {
  --menu-icon-opacity: 1;
  --menu-arrow-size: 1em;
  --menuitem-border-radius: 0px !important;
  --menuitem-margin: 0px !important;
  --menuitem-padding: 0px !important;
}

menupopup {
  & > :is(menu, menuitem) {
    /*min-height: 24px;
    border-radius: 3px;*/
    min-height: 21px !important;
    border-radius: 0px !important;
	padding-inline: 4px !important;
  }
}

menupopup {
  &:not([type="arrow"]) {
    /*margin: -4px;*/
    margin: -6px -4px -4px -4px !important;
  }
}

menupopup {
  &.webextension-menupopup > menu:not([icon], .menu-iconic), &.webextension-menupopup > menuitem:not([checked="true"], [icon], .menuitem-iconic), menubar > menu &:not([needsgutter]) > :is(menu:not(.menu-iconic), menuitem:not(.menuitem-iconic, [type="checkbox"], [type="radio"])) {
    /*padding-inline-start: 32px;*/
    padding-inline-start: 28px !important;
  }
}

menuseparator {
  /*padding-block: 4px;*/
  padding-block: 2px !important;
}

#messageHeader {
  background-color: #f4f4f5 !important;
}

.tab-line {
  /*height: 2px;
  margin-top: 3px;
  border-radius: 3px;*/
  height: 0px !important;
  margin-top: 0px !important;
  border-radius: 0px !important;	
}

#tabs-toolbar {
  /* padding-top: 0px; */
  padding-top: 1px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.tabmail-tab {
  /*border-radius: 4px 4px 0 0;*/
  border-radius: 0 !important;
}

#unifiedToolbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


/* panelUI.css | chrome://messenger/skin/shared/panelUI.css */

.cui-widget-panel {
  :root & {
    /* --arrowpanel-menuitem-border-radius: 3px; */
    --arrowpanel-menuitem-border-radius: 0px !important;
  }
  :root[uidensity="compact"] & {
    /* --appmenu-button-margin: 0 4px; */
    --appmenu-button-margin: 0 2px !important;
  }
}

.subview-subheader, panelview .toolbarbutton-1, .subviewbutton, menu.subviewbutton, .widget-overflow-list .toolbarbutton-1 {
  /* min-height: 24px; */
  min-height: 22px !important;
}

.panel-header {
  & > .subviewbutton-back {
    /* padding: 10px; */
    /* margin: 0 4px; */
    padding: 8px !important;
    margin: 0 !important;
  }
}

/* W celu ochrony prywatnosci zdalna zawartosc zostala zablokowana */
div.container {
  /*border-radius: 4px;*/
  border-radius: 0px !important;
}

.notification-button {
  &.button-menu-list {
    /* padding-inline-end: 18px; */
    padding-inline-end: 24px !important;
  }
}

.footer-button {
  /* padding: 0.45em 1em; */
  padding: 4px 10px 4px 10px !important;
}

.notification-button {
  /*border-radius: 3px;*/
  border-radius: 0px !important;
}

/* Odstep w naglowku wiadomosci */
.message-header-container {
  /* padding: 3px; */
  padding: 1px !important;
}

/* szerokosc przycisku hamburger menu */
.button-appmenu {
  /*min-width: 35px !important;*/
  min-width: 25px !important;
}

/* kalendarz */
/* calendar-views.css | chrome://calendar/skin/shared/calendar-views.css */

.calview-toggle {
  /* border-radius: 1000px; */
  border-radius: 0px !important;
}

button.calview-toggle-item {
  /* border-radius: 1000px; */
  border-radius: 0px !important;
}

.calendar-month-day-box-date-label {
  /* border-radius: 1000px; */
  border-radius: 0px !important;
}

calendar-minimonth {
  /*--mmMainBorderRadius: 6px;*/
  --mmMainBorderRadius: 0px !important;
}

th[is="tree-view-table-column-picker"] {
  /*background-color: var(--tree-view-bg);*/
  background-color: #f4f4f5 !important;
}

treecol {
  background-color: #f4f4f5 !important;
}

#unifinder-searchBox {
  /*background-color: #f8f8f8;*/
  background-color: #f4f4f5 !important;
}

#task-addition-box {
  /*background-color: #f8f8f8;*/
  background-color: #f4f4f5 !important;
}

/* Element | chrome://messenger/content/messenger.xhtml */

#calendarViewHeader {
  background-color: #f4f4f5 !important;
}

/* calendar-views.css | chrome://calendar/skin/shared/calendar-views.css */

.view-header {
  /* font-weight: bold; */
  font-weight: initial !important;
}


/* minimonth.css | chrome://calendar/skin/shared/widgets/minimonth.css */

calendar-minimonth {
  /* --mmDayBorderRadius: 3px; */
  --mmDayBorderRadius: 0px !important;
}

.calendar-month-day-box-week-label {
  /*border-radius: 1000px;*/
  border-radius: 0px !important;
}

/* message table header */
.tree-table-cell {
  background-color: #f4f4f5 !important;
}

/* przycisk zamkniecia karty */

button.tab-close-button {
  /* margin-inline: 1px -2px; */
  margin-inline: 1px -5px !important;
}

/* kolor menu */

#mail-menubar > menu[_moz-menuactive="true"]:not([disabled="true"]) {
  /*background-color: light-dark(hsla(0, 0%, 0%, 0.12), hsla(0, 0%, 100%, 0.22));
  color: inherit;*/
  background-color: #C0D3F3 !important;
  /*border: 1px solid #90C8F6 !important;*/
}

menupopup {
  :root:not([lwtheme]) menubar > menu & {
    /* --panel-background: Menu; */
    --panel-background: #f4f4f5 !important;
  }
}


#quick-filter-bar {
  /* background-color: var(--layout-background-1); */
  background-color: var(--layout-background-2) !important;
}

